<% if flash.any? %>
  <div class="space-y-3">
    <% flash.each do |type, message| %>
      <div class="rounded-2xl border px-4 py-3 text-sm font-medium <%= flash_class(type) %>">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
