<div class="border-b border-grey py-6">
  <h1 class="text-5xl font-bold"> Hi, I´m Jhon Doe. </h1>
  <p class="text-xl"> A system engineer and full-stack web developer enjoying the start-up vibrant ecosystem in Santigo, Chile </p>
</div>

<div class="border-b border-grey py-6">
  <div class="flex items-center pb-6" >
    <%= image_tag "logo.png", class:"h-5" %>
    <h3 class="ml-3 text-2xl font-semibold"> My Story </h3>
  </div>
  <p class=""> 
    Voluptate sunt sit eu occaecat sint ad nisi fugiat. Do magna fugiat aute amet eiusmod irure mollit non ullamco non do officia incididunt. Sit consequat proident ad pariatur. Non amet aliqua veniam aliqua in anim eiusmod exercitation sint mollit qui. Incididunt occaecat proident veniam nostrud laboris velit nulla sit deserunt consequat. Quis do tempor ad ipsum elit duis est aute non Lorem elit sunt enim irure.
    Nulla incididunt cupidatat ut labore velit eu. Pariatur magna in ad nisi consequat exercitation ut. Esse minim laborum nostrud aliquip nisi esse do amet cupidatat magna consectetur. Anim veniam non sint nulla. Eiusmod consectetur quis Lorem minim laborum.  
  </p>
</div>

<div class="py-6">
  <div class="flex items-center pb-6" >
    <%= image_tag "logo.png", class:"h-5" %>
    <h3 class="ml-3 text-2xl font-semibold"> My Notes </h3>
  </div>
  <div id="posts" class="min-w-full">
    <%= render @posts %>
  </div>
</div>

<div class="py-6">
  <div class="flex items-center pb-6" >
    <%= image_tag "logo.png", class:"h-5" %>
    <h3 class="ml-3 text-2xl font-semibold"> My Projects </h3>
  </div>
  --- List of projects ---
</div>